header {
    text-align: center;
}
div {
    padding-left: 1vw;
    padding-right: 1vw;   
    padding-top: 2vh;
    padding-bottom: 2vh;
}
#about-me {
    max-width: max-content;
    display: block;
    max-height: 65vh;
}
#about-me #portait {
    max-height: 50vh;
    height: auto;
    width: auto;
    min-height: 100px;
}

#gifs {
    max-width: fit-content

}

#gifs img {
    max-width: 50vw;
    max-height: 25vh;
    height: 50%;
    width: auto;
    min-height: 64px;
}